@model Cn.Com.Sve.OA.Web.Models.ViewModels.QualificationStudentViewModel
@{
	Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Aqua/css/ligerui-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Gray/css/all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/ligerui-icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/css/common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/lib/jquery/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery/ui/jquery.ui.core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery/ui/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery/ui/jquery.ui.position.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery/ui/jquery.ui.autocomplete.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/ligerUI/js/ligerui.all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.metadata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery-validation/messages_cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/LG.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/json2.js")" type="text/javascript"></script>
	<style type="text/css">
		body
		{
			font-size: 12px;
		}
		.l-table-edit
		{
		}
		.l-table-edit-td
		{
			padding: 4px;
		}
		.l-button-submit, .l-button-reset
		{
			width: 80px;
			float: left;
			margin-left: 10px;
			padding-bottom: 2px;
		}
		.l-verify-tip
		{
			left: 230px;
			top: 120px;
			z-index: 9999;
		}
		.txt {width:98%;}
		.yellowbg { background-color:#FFFFDD; }

	</style>
	<script type="text/javascript">
		var gStudent;
		var action = "add";
		var $dialog;
		var initData;

		$(function () {
			$("#SignUpTime").ligerDateEditor({ initValue: '@DateTime.Today.ToString("d")' });
			$("#Birthday").ligerDateEditor();
			$("#BeginWorkTime").ligerDateEditor();
			$("#GraduateDate").ligerDateEditor();
			$("#MatriculateTime").ligerDateEditor();


			$("#GruduateSchoolName").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '@Url.Action("Suggest", "School")',
						dataType: "json",
						data: {
							qty: 12,
							prefix: request.term
						},
						success: function (data) {
							response($.map(data, function (item) {
								return {
									label: item.Name,
									value: item.Id
								}
							}));
						}
					});
				},
				minLength: 1,
				select: function (event, ui) {
					$("#GruduateSchoolId").val(ui.item.value);
					$("#GruduateSchoolName").val(ui.item.label);
					return false;
				},
				open: function () {
					//$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
				},
				close: function () {
					//$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
				}
			});
			$("#DistrictName").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '@Url.Action("Suggest", "District")',
						dataType: "json",
						data: {
							qty: 12,
							prefix: request.term
						},
						success: function (data) {
							response($.map(data, function (item) {
								return {
									label: item.Name,
									value: item.Id
								}
							}));
						}
					});
				},
				minLength: 1,
				select: function (event, ui) {
					$("#DistrictId").val(ui.item.value);
					$("#DistrictName").val(ui.item.label);
					return false;
				},
				open: function () {
					$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
				},
				close: function () {
					$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
				}
			});

			$cboSmall = $("#SmallSourceName").ligerComboBox(
                { textField: 'Name', valueField: 'Id', valueFieldID: 'SmallInfoSourceId', width: 90 });
			$cboBig = $("#BigSourceName").ligerComboBox({
				textField: 'Name', valueField: 'Id', valueFieldID: 'BigSourceId', width: 90,
				onSelected: function (v, t) {
					for (i = 0; i < infoSourceData.BigSource.length; i++) {
						if (infoSourceData.BigSource[i].Id != v) continue;
						$cboSmall.setData(infoSourceData.BigSource[i].SmallSource);
						if (infoSourceData.BigSource[i].SmallSource.length > 0) {
							$cboSmall.selectValue(infoSourceData.BigSource[i].SmallSource[0].Id);
						}
					}
				}
			});

			//GetCascadeComboData2
			$.getJSON('@Url.Action("GetCascadeComboData", "BigInfoSource")', function (data) {
				infoSourceData = data;
				$cboBig.setData(data.BigSource);
				$cboBig.selectValue(data.BigSource[0].Id);
			});

			$("#ClazzName").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '@Url.Action("Suggest","Clazz")',
						dataType: "json",
						data: {
							qty: 12,
							prefix: request.term
						},
						success: function (data) {
							response($.map(data, function (item) {
								return {
									label: item.Name,
									value: item.Id
								}
							}));
						}
					});
				},
				minLength: 1,
				select: function (event, ui) {
					$("#ClazzId").val(ui.item.value);
					$("#ClazzName").val(ui.item.label);
					return false;
				},
				open: function () {
					$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
				},
				close: function () {
					$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
				}
			});
			//$("#frmStudent").ligerForm();

			//			$.getJSON("@Url.Action("GetInitData", "Student")", function(data){
			//				initData = data;
			//                /*
			//				$("#f_City_ProvinceId").ligerComboBox(
			//                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceId',data:data.Provinces });
			//                data.Provinces.unshift({ Id:'', Name:'所有' });
			//                $("#f_City_ProvinceIdSrh").ligerComboBox(
			//                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceIdSrh',data:data.Provinces });
			//				*/
			//	            $("#formsearch").ligerForm();
			//				//$("#frmStudent").ligerForm();
			//            });


		});
		
	</script>
</head>
<body style="padding: 10px; height: 100%; text-align: center;">
	<form action="" method="post" id="frmStudent" enctype="multipart/form-data">
    <div style="width: 98%">
		<form action="@Url.Action("AddNew", "QualificationStudent")" enctype="multipart/form-data">
            <table border="1" cellspacing="3px" cellpadding="3" style="border-color:Black; border-style:solid;">
                <tr>
                    <td colspan="2" style="text-align:center;">报读学校</td>
                    <td style="width:130px;">
						<select id="TargetSchoolName" name="TargetSchoolName">
							@foreach (var s in this.Model.Schools) {
							<option value="@s.Name">@s.Name</option>
							}
						</select>
                    </td>
                    <td style="width:100px; text-align:center;">报名时间</td>
                    <td style="width:130px;">
						<input name='SignUpTime' type='text' id='SignUpTime' class='txt' ltype='text' />
                    </td>
                    <td style="width:100px; text-align:center;">登记表编号</td>
                    <td style="width:130px;">
						<input name='SeqNo' type='text' id='SeqNo' class='txt' ltype='text' />
                   </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">专　　业</td>
                    <td>
						<input name='TargetProfession' type='text' id='TargetProfession' class='txt' ltype='text' />
                    </td>
                    <td>层次属性</td>
                    <td>
						<select id="TargetLevel" name="TargetLevel">
							<option value="高中升大专">高中升大专</option>
							<option value="高中升本科">高中升本科</option>
							<option value="大专升本科">大专升本科</option>
							<option value="本科升研究生">本科升研究生</option>
						</select>
                    </td>
                    <td>学习形式</td>
                    <td>
						<select id="StudyType" name="StudyType">
							<option value="网络">网络</option>
							<option value="自考">自考</option>
							<option value="成人">成人</option>
							<option value="电大">电大</option>
							<option value="全日制">全日制</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">上报状态</td>
                    <td>
						<select id="SubmitStatus" name="SubmitStatus">
							<option value="未上报">未上报</option>
							<option value="已上报">已上报</option>
						</select>
                    </td>
                    <td>录取状态</td>
                    <td>
						<select id="OfferStatus" name="OfferStatus">
							<option value="未录取">未录取</option>
							<option value="已录取">已录取</option>
							<option value="录取不成功">录取不成功</option>
						</select>
                    </td>
                    <td>缴费状态</td>
                    <td>
						<select id="PayStatus" name="PayStatus">
							<option value="已缴费">已缴费</option>
							<option value="未缴费">未缴费</option>
							<option value="分期付款">分期付款</option>
						</select>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align:center;">姓　　名</td>
                    <td>
						<input name='Name' type='text' id='Name' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">性　　别</td>
                    <td>
						<select id="Sex" name="Sex">
							<option value="男">男</option>
							<option value="女">女</option>
						</select>
                    </td>
                    <td style="text-align:center;">出生日期</td>
                    <td>
						<input name='Birthday' type='text' id='Birthday' class='txt' ltype='text' />
                    </td>

                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">籍　　贯</td>
                    <td>
						<input name='JiGuang' type='text' id='JiGuang' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">身份证号</td>
                    <td colspan="3">
						<input name='IdCardNo' type='text' id='IdCardNo' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">民　　族</td>
                    <td>
						<input name='MinZu' type='text' id='MinZu' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">政治面貌</td>
                    <td>
						<input name='ZhengZhiMianMao' type='text' id='ZhengZhiMianMao' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">婚否</td>
                    <td>
						<input name='IsMarried' type='text' id='IsMarried' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">家庭地址</td>
                    <td colspan="3">
						<input name='HomeAddress' type='text' id='HomeAddress' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">户口所在地</td>
                    <td>
						<input name='HuKouAddress' type='text' id='HuKouAddress' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">通信地址</td>
                    <td colspan="3">
						<input name='CommAddress' type='text' id='CommAddress' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">邮政编码</td>
                    <td>
						<input name='Postcode' type='text' id='Postcode' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">固定电话</td>
                    <td>
						<input name='HomeTelephone' type='text' id='HomeTelephone' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">手机号码</td>
                    <td>
						<input name='Mobile' type='text' id='Mobile' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">QQ　号</td>
                    <td>
						<input name='QQ' type='text' id='QQ' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">工作单位</td>
                    <td colspan="3">
						<input name='Company' type='text' id='Company' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">职　　位</td>
                    <td>
						<input name='Title' type='text' id='Title' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">单位电话</td>
                    <td>
						<input name='CompanyTelephoneNo' type='text' id='CompanyTelephoneNo' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">参加工作时间</td>
                    <td>
						<input name='BeginWorkTime' type='text' id='BeginWorkTime' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">工作年限</td>
                    <td>
						<input name='WorkedYears' type='text' id='WorkedYears' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">报名前最后学历</td>
                    <td>
						<select id="HighestEduLevel" name="HighestEduLevel">
							<option value="高中毕业">高中毕业</option>
							<option value="小学毕业">小学毕业</option>
							<option value="初中毕业">初中毕业</option>
							<option value="中专毕业">中专毕业</option>
							<option value="大专毕业">大专毕业</option>
							<option value="本科毕业">本科毕业</option>
							<option value="硕士">硕士</option>
							<option value="博士">博士</option>
							<option value="博士后">博士后</option>
						</select>
                    </td>
                    <td style="text-align:center;">报名前最后学位</td>
                    <td>
						<input name='HighestQualification' type='text' id='HighestQualification' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">原毕业时间</td>
                    <td>
						<input name='GraduateDate' type='text' id='GraduateDate' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">原毕业学校</td>
                    <td colspan="3">
						<input name='GruduateSchool' type='text' id='GruduateSchool' class='txt' ltype='text' />
                    </td>
                    <td style="text-align:center;">原毕业证书编码</td>
                    <td>
						<input name='HighestQualificationNo' type='text' id='HighestQualificationNo' class='txt' ltype='text' />
                    </td>
                </tr>
                <tr>
                    <td rowspan="4" style="text-align:center;">本<br />人<br />简<br />历</td>
                    <td colspan="2" style="text-align:center;">由何时至何时</td>
                    <td colspan="3" style="text-align:center;">就读、就职情况（从初中开始）</td>
                    <td style="text-align:center;">职务</td>
                </tr>
                <tr>
                    <td colspan="2"><input name='StudyDuration1' type='text' id='StudyDuration1' class='txt' ltype='text' /></td>
                    <td colspan="3"><input name='StudySchool1' type='text' id='StudySchool1' class='txt' ltype='text' /></td>
                    <td><input name='StudyPosition1' type='text' id='StudyPosition1' class='txt' ltype='text' /></td>
                </tr>
                <tr>
                    <td colspan="2"><input name='StudyDuration2' type='text' id='StudyDuration2' class='txt' ltype='text' /></td>
                    <td colspan="3"><input name='StudySchool2' type='text' id='StudySchool2' class='txt' ltype='text' /></td>
                    <td><input name='StudyPosition2' type='text' id='StudyPosition2' class='txt' ltype='text' /></td>
                </tr>
                <tr>
                    <td colspan="2"><input name='StudyDuration3' type='text' id='StudyDuration3' class='txt' ltype='text' /></td>
                    <td colspan="3"><input name='StudySchool3' type='text' id='StudySchool3' class='txt' ltype='text' /></td>
                    <td><input name='StudyPosition3' type='text' id='StudyPosition3' class='txt' ltype='text' /></td>
                </tr>
                <tr>
                    <td rowspan="3" style="text-align:center;">家<br />庭<br />成<br />员</td>
                    <td style="text-align:center;">关系</td>
                    <td style="text-align:center;">姓名</td>
                    <td style="text-align:center;">政治面貌</td>
                    <td style="text-align:center;">工作单位</td>
                    <td style="text-align:center;">职位</td>
                    <td style="text-align:center;">手机号码</td>
                </tr>
                <tr>
                    <td style="width:60px;"><input name='MemberRelType1' type='text' id='MemberRelType1' class='txt' ltype='text' /></td>
                    <td><input name='MemberName1' type='text' id='MemberName1' class='txt' ltype='text' /></td>
                    <td><input name='MemberMianMao1' type='text' id='MemberMianMao1' class='txt' ltype='text' /></td>
                    <td><input name='MemberCompany1' type='text' id='MemberCompany1' class='txt' ltype='text' /></td>
                    <td><input name='MemberPosition1' type='text' id='MemberPosition1' class='txt' ltype='text' /></td>
                    <td><input name='MemberMobile1' type='text' id='MemberMobile1' class='txt' ltype='text' /></td>
                </tr>
                <tr>
                    <td style="width:60px;"><input name='MemberRelType2' type='text' id='MemberRelType2' class='txt' ltype='text' /></td>
                    <td><input name='MemberName2' type='text' id='MemberName2' class='txt' ltype='text' /></td>
                    <td><input name='MemberMianMao2' type='text' id='MemberMianMao2' class='txt' ltype='text' /></td>
                    <td><input name='MemberCompany2' type='text' id='MemberCompany2' class='txt' ltype='text' /></td>
                    <td><input name='MemberPosition2' type='text' id='MemberPosition2' class='txt' ltype='text' /></td>
                    <td><input name='MemberMobile2' type='text' id='MemberMobile2' class='txt' ltype='text' /></td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align:center;">学院老师</td>
                    <td><input name='Consultant' type='text' id='Consultant' class='txt' ltype='text' /></td>
                    <td style="text-align:center;">介 绍 人</td>
                    <td><input name='Referrer' type='text' id='Referrer' class='txt' ltype='text' /></td>
                    <td style="text-align:center;">手机号码</td>
                    <td><input name='ReferrerMobile' type='text' id='ReferrerMobile' class='txt' ltype='text' /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">QQ　　号</td>
                    <td><input name='ReferrerQQ' type='text' id='ReferrerQQ' class='txt' ltype='text' /></td>
                    <td colspan="2" style="text-align:center;">本院学员所在的班级</td>
                    <td colspan="2"><input name='Clazz' type='text' id='Clazz' class='txt' ltype='text' value="非学院学员" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">录取时间</td>
                    <td><input name='MatriculateTime' type='text' id='MatriculateTime' class='txt' ltype='text' /></td>
                    <td style="text-align:center;">用 户 名</td>
                    <td><input name='NetUserName' type='text' id='NetUserName' class='txt' ltype='text' /></td>
                    <td style="text-align:center;">密　　码</td>
                    <td><input name='NetPassword' type='text' id='NetPassword' class='txt' ltype='text' /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">备　　注</td>
                    <td colspan="3"><input name='Remark' type='text' id='Remark' class='txt' ltype='text' /></td>
                    <td>持证状态</td>
                    <td>
						<select id="PaperStatus" name="PaperStatus">
							<option value="未持证">未持证</option>
							<option value="已持证">已持证</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">照　　片</td>
                    <td colspan="5" style="text-align:left;"><input type="file" class='txt' ltype='text' id="pf1" name="pf1" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">身 份 证</td>
                    <td colspan="5" style="text-align:left;"><input type="file" class='txt' ltype='text' id="pf2" name="pf2" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">毕 业 证</td>
                    <td colspan="5" style="text-align:left;"><input type="file" class='txt' ltype='text' id="pf3" name="pf3" /></td>
                </tr>

                <tr>
                    <td colspan="7" style="text-align:center;">
						<input type="submit" value="保存" style=" padding:5px;" />
                    </td>
                </tr>
            </table>
		</form>
    </div>

	</form>

</body>
</html>
