@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Aqua/css/ligerui-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Gray/css/all.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/ligerui-icons.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Content/lib/css/common.css")" rel="stylesheet" type="text/css" />  
    <script src="@Url.Content("~/Content/lib/jquery/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/ligerUI/js/ligerui.all.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.validate.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.metadata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery-validation/messages_cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/LG.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/json2.js")" type="text/javascript"></script> 
	
    <style type="text/css">
        body{ font-size:12px;}
        .l-table-edit {}
        .l-table-edit-td{ padding:4px;}
        .l-button-submit,.l-button-reset{width:80px; float:left; margin-left:10px; padding-bottom:2px;}
        .l-verify-tip{ left:230px; top:120px; z-index:9999;}
    </style>
    <script type="text/javascript">
        var gEmploymentCompanyContact;
        var action = "add";
        var $dialog;
		var initData;
		
        $(function () {
            gEmploymentCompanyContact = $("#grdEmploymentCompanyContact").ligerGrid({
                columns: [
                    { display: 'Id', name: 'Id', width: 100, align: 'left' },
					{ display: 'CompanyId', name: 'CompanyId', width: 100, align: 'left' },
					{ display: 'Name', name: 'Name', width: 100, align: 'left' },
					{ display: 'Mobile', name: 'Mobile', width: 100, align: 'left' },
					{ display: 'Position', name: 'Position', width: 100, align: 'left' },
					{ display: 'Telephone', name: 'Telephone', width: 100, align: 'left' },
					{ display: 'QQ', name: 'QQ', width: 100, align: 'left' },
					{ display: 'Email', name: 'Email', width: 100, align: 'left' },
					{ display: 'Introduction', name: 'Introduction', width: 100, align: 'left' },
					{ display: 'OldOaId', name: 'OldOaId', width: 100, align: 'left' },
					{ display: 'OldOaCompanyId', name: 'OldOaCompanyId', width: 100, align: 'left' }
                  ],
                pageSize: 20, toolbar: {},
                url: '@Url.Action("GetData","EmploymentCompanyContact")', 
                sortName: 'Name',
                width: '98%', height: '100%', checkbox: false,
                usePager:true,
                toolbar: { items: [
                { text: '增加', icon: 'add', click: addEmploymentCompanyContact },
                { line: true },
                { text: '修改', icon: 'modify', click: editEmploymentCompanyContact },
                { line: true },
                { text: '删除', icon: 'delete', click: deleteEmploymentCompanyContact }
                ]
                }
            });
            $("#btnSearch").click(function () {
                gEmploymentCompanyContact.set({ 
                    parms : [
                    { name: 'IdSrh', value: $('#IdSrh').val() },
					{ name: 'IdFromSrh', value: $('#IdFromSrh').val() },
					{ name: 'IdToSrh', value: $('#IdToSrh').val() },
					{ name: 'CompanyIdSrh', value: $('#CompanyIdSrh').val() },
					{ name: 'CompanyIdFromSrh', value: $('#CompanyIdFromSrh').val() },
					{ name: 'CompanyIdToSrh', value: $('#CompanyIdToSrh').val() },
					{ name: 'NameSrh', value: $('#NameSrh').val() },
					{ name: 'MobileSrh', value: $('#MobileSrh').val() },
					{ name: 'PositionSrh', value: $('#PositionSrh').val() },
					{ name: 'TelephoneSrh', value: $('#TelephoneSrh').val() },
					{ name: 'QQSrh', value: $('#QQSrh').val() },
					{ name: 'EmailSrh', value: $('#EmailSrh').val() },
					{ name: 'IntroductionSrh', value: $('#IntroductionSrh').val() },
					{ name: 'OldOaIdSrh', value: $('#OldOaIdSrh').val() },
					{ name: 'OldOaCompanyIdSrh', value: $('#OldOaCompanyIdSrh').val() }
                    ]
                });
                gEmploymentCompanyContact.loadData();
            });
			
            $.validator.addMethod(
	            "notnull",
	            function (value, element, regexp)
	            {
	                if (!value) return true;
	                return !$(element).hasClass("l-text-field-null");
	            },
	            "不能为空"
            );

            $.metadata.setType("attr", "validate");
            var v = $("#frmEmploymentCompanyContact").validate({
                errorPlacement: function (lable, element) {
                    if (element.hasClass("l-textarea")) {
                        element.addClass("l-textarea-invalid");
                    } else if (element.hasClass("l-text-field")) {
                        element.parent().addClass("l-text-invalid");
                    }
                    $(element).removeAttr("title").ligerHideTip();
                    $(element).attr("title", lable.html()).ligerTip();
                },
                success: function (lable) {
                    var element = $("#" + lable.attr("for"));
                    if (element.hasClass("l-textarea")) {
                        element.removeClass("l-textarea-invalid");
                    } else if (element.hasClass("l-text-field")) {
                        element.parent().removeClass("l-text-invalid");
                    }
                    $(element).removeAttr("title").ligerHideTip();
                },
                submitHandler: function () {
                    saveEmploymentCompanyContact();
                    return false;
                }
            });

			$.getJSON("@Url.Action("GetInitData","EmploymentCompanyContact")", function(data){
				initData = data;
                /*
				$("#f_City_ProvinceId").ligerComboBox(
                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceId',data:data.Provinces });
                data.Provinces.unshift({ Id:'', Name:'所有' });
                $("#f_City_ProvinceIdSrh").ligerComboBox(
                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceIdSrh',data:data.Provinces });
				*/
	            $("#formsearch").ligerForm();
				$("#frmEmploymentCompanyContact").ligerForm();
            });


        });
		
        function addEmploymentCompanyContact(){
            action = "add";
			$("#f_EmploymentCompanyContact_Id").val("");
			$("#f_EmploymentCompanyContact_CompanyId").val("");
			$("#f_EmploymentCompanyContact_Name").val("");
			$("#f_EmploymentCompanyContact_Mobile").val("");
			$("#f_EmploymentCompanyContact_Position").val("");
			$("#f_EmploymentCompanyContact_Telephone").val("");
			$("#f_EmploymentCompanyContact_QQ").val("");
			$("#f_EmploymentCompanyContact_Email").val("");
			$("#f_EmploymentCompanyContact_Introduction").val("");
			$("#f_EmploymentCompanyContact_OldOaId").val("");
			$("#f_EmploymentCompanyContact_OldOaCompanyId").val("");
			$dialog = $.ligerDialog.open({ target: $("#dEmploymentCompanyContact"), width: 300, height: 150 });
        }
        function editEmploymentCompanyContact() {
            action = "edit";
            var row = gEmploymentCompanyContact.getSelectedRow();
            if (!row) { LG.tip('请选择行!'); return }
			$("#f_EmploymentCompanyContact_Id").val(row.Id);
			$("#f_EmploymentCompanyContact_CompanyId").val(row.CompanyId);
			$("#f_EmploymentCompanyContact_Name").val(row.Name);
			$("#f_EmploymentCompanyContact_Mobile").val(row.Mobile);
			$("#f_EmploymentCompanyContact_Position").val(row.Position);
			$("#f_EmploymentCompanyContact_Telephone").val(row.Telephone);
			$("#f_EmploymentCompanyContact_QQ").val(row.QQ);
			$("#f_EmploymentCompanyContact_Email").val(row.Email);
			$("#f_EmploymentCompanyContact_Introduction").val(row.Introduction);
			$("#f_EmploymentCompanyContact_OldOaId").val(row.OldOaId);
			$("#f_EmploymentCompanyContact_OldOaCompanyId").val(row.OldOaCompanyId);
            $dialog = $.ligerDialog.open({ target: $("#dEmploymentCompanyContact"), width: 300, height: 150 });
        }
        function deleteEmploymentCompanyContact() {
            var row = gEmploymentCompanyContact.getSelectedRow();
            if (!row) { LG.tip('请选择行!'); return }

            $.ligerDialog.confirm("您确定要删除选中记录么？",function (r) { 
                if(r){
                    $.post("@Url.Action("Delete","EmploymentCompanyContact")", { id: row.Id }
                        , function (result) {
                            if (result.Successful) {
                                gEmploymentCompanyContact.deleteSelectedRow();
                            } else {
                                $.ligerMessageBox.error('错误', result.Message);
                            }
                        }
                    );
                }
            });
        }
        function saveEmploymentCompanyContact(){
            if(action=="add"){
                $.post("@Url.Action("Add","EmploymentCompanyContact")", $("#frmEmploymentCompanyContact").serialize(),
                    function (result) {
                        if (result.Successful) {
                            gEmploymentCompanyContact.addRow(result.Data);
                            $dialog.hidden();
                            LG.tip("操作成功！");
                        }else{
                            LG.showError(result.Message);
                        }
                    }
                );
            }else{
                $.post("@Url.Action("Update","EmploymentCompanyContact")", $("#frmEmploymentCompanyContact").serialize(),
                    function (result) {
                        if (result.Successful) {
                            var row = gEmploymentCompanyContact.getSelected();
                            if (!row) { alert('请选择行'); return; }
                            gEmploymentCompanyContact.updateRow(row,result.Data);
                            $dialog.hidden();
                            LG.tip("操作成功！");
                        }else{
                            LG.showError(result.Message);
                        }
                    }
                );
            }
        }
    </script>
</head>
<body style="padding:10px;height:100%; text-align:center;">
  <div id="mainsearch" style=" width:98%">
    <div class="searchtitle">
        <span>搜索</span><img src="@Url.Content("~/Content/lib/icons/32X32/searchtool.gif")" alt="" />
        <div class="togglebtn"></div> 
    </div>
    <div class="navline" style="margin-bottom:4px; margin-top:4px;"></div>
    <div class="searchbox">
        <form id="formsearch" class="l-form" action="">
        <table cellpadding="0" cellspacing="0" class="l-table-edit" >
			<tr>
<td style='text-align:right;' class='l-table-edit-td'>Id</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdSrh' type='text' id='IdSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>IdFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdFromSrh' type='text' id='IdFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>IdTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdToSrh' type='text' id='IdToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>CompanyId</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='CompanyIdSrh' type='text' id='CompanyIdSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>CompanyIdFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='CompanyIdFromSrh' type='text' id='CompanyIdFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>CompanyIdTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='CompanyIdToSrh' type='text' id='CompanyIdToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Name</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='NameSrh' type='text' id='NameSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Mobile</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='MobileSrh' type='text' id='MobileSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Position</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='PositionSrh' type='text' id='PositionSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Telephone</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='TelephoneSrh' type='text' id='TelephoneSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>QQ</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='QQSrh' type='text' id='QQSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Email</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='EmailSrh' type='text' id='EmailSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Introduction</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IntroductionSrh' type='text' id='IntroductionSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>OldOaId</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='OldOaIdSrh' type='text' id='OldOaIdSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>OldOaCompanyId</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='OldOaCompanyIdSrh' type='text' id='OldOaCompanyIdSrh' ltype='text' /></td>
</tr>

            <tr>
                <td style="text-align:center;" class="l-table-edit-td" colspan="3"><input type="button" value="查询" id="btnSearch"  /></td>
            </tr>
        </table>
        
        </form>
    </div>
  </div>
  <div id="grdEmploymentCompanyContact"></div> 
  
   <div id="dEmploymentCompanyContact" style="display: none;">
        <form action="" method="post" id="frmEmploymentCompanyContact">
			<input type="hidden" id="f_EmploymentCompanyContact_Id" name="Id" value="" />
			<table cellpadding="0" cellspacing="0" class="l-table-edit" >
	            
				<tr>
<td class='l-table-edit-td' style='text-align:right;'>CompanyId</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='CompanyId' type='text' id='f_EmploymentCompanyContact_CompanyId' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Name</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Name' type='text' id='f_EmploymentCompanyContact_Name' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Mobile</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Mobile' type='text' id='f_EmploymentCompanyContact_Mobile' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Position</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Position' type='text' id='f_EmploymentCompanyContact_Position' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Telephone</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Telephone' type='text' id='f_EmploymentCompanyContact_Telephone' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>QQ</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='QQ' type='text' id='f_EmploymentCompanyContact_QQ' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Email</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Email' type='text' id='f_EmploymentCompanyContact_Email' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Introduction</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Introduction' type='text' id='f_EmploymentCompanyContact_Introduction' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>OldOaId</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='OldOaId' type='text' id='f_EmploymentCompanyContact_OldOaId' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>OldOaCompanyId</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='OldOaCompanyId' type='text' id='f_EmploymentCompanyContact_OldOaCompanyId' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

            <tr>
                <td colspan="3" style="text-align:center;">
                    <input type="submit" id="btnProvinceSave" value="保存" class="l-button l-button-submit" />
                    <input type="button" id="btnProvinceCancel" value="取消" onclick='$dialog.hidden();' class="l-button l-button-reset" />
                </td>
            </tr>
			</table>
		</form>
	</div>
</body>
</html>
