@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Aqua/css/ligerui-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Gray/css/all.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/ligerui-icons.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Content/lib/css/common.css")" rel="stylesheet" type="text/css" />  
    <script src="@Url.Content("~/Content/lib/jquery/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/ligerUI/js/ligerui.all.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.validate.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.metadata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery-validation/messages_cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/LG.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/json2.js")" type="text/javascript"></script> 
	
    <style type="text/css">
        body{ font-size:12px;}
        .l-table-edit {}
        .l-table-edit-td{ padding:4px;}
        .l-button-submit,.l-button-reset{width:80px; float:left; margin-left:10px; padding-bottom:2px;}
        .l-verify-tip{ left:230px; top:120px; z-index:9999;}
    </style>
    <script type="text/javascript">
        var gFunction;
        var action = "add";
        var $dialog;
		var initData;
		
        $(function () {
            gFunction = $("#grdFunction").ligerGrid({
                columns: [
                    { display: 'Id', name: 'Id', width: 100, align: 'left' },
					{ display: 'ModuleId', name: 'ModuleId', width: 100, align: 'left' },
					{ display: 'Code', name: 'Code', width: 100, align: 'left' },
					{ display: 'Name', name: 'Name', width: 100, align: 'left' },
					{ display: 'Icon', name: 'Icon', width: 100, align: 'left' },
					{ display: 'Url', name: 'Url', width: 100, align: 'left' },
					{ display: 'ParentFunctionId', name: 'ParentFunctionId', width: 100, align: 'left' },
					{ display: 'Seq', name: 'Seq', width: 100, align: 'left' }
                  ],
                pageSize: 20, toolbar: {},
                url: '@Url.Action("GetData","Function")', 
                sortName: 'Name',
                width: '98%', height: '100%', checkbox: false,
                usePager:true,
                toolbar: { items: [
                { text: '增加', icon: 'add', click: addFunction },
                { line: true },
                { text: '修改', icon: 'modify', click: editFunction },
                { line: true },
                { text: '删除', icon: 'delete', click: deleteFunction }
                ]
                }
            });
            $("#btnSearch").click(function () {
                gFunction.set({ 
                    parms : [
                    { name: 'IdSrh', value: $('#IdSrh').val() },
					{ name: 'IdFromSrh', value: $('#IdFromSrh').val() },
					{ name: 'IdToSrh', value: $('#IdToSrh').val() },
					{ name: 'ModuleIdSrh', value: $('#ModuleIdSrh').val() },
					{ name: 'ModuleIdFromSrh', value: $('#ModuleIdFromSrh').val() },
					{ name: 'ModuleIdToSrh', value: $('#ModuleIdToSrh').val() },
					{ name: 'CodeSrh', value: $('#CodeSrh').val() },
					{ name: 'NameSrh', value: $('#NameSrh').val() },
					{ name: 'IconSrh', value: $('#IconSrh').val() },
					{ name: 'UrlSrh', value: $('#UrlSrh').val() },
					{ name: 'ParentFunctionIdSrh', value: $('#ParentFunctionIdSrh').val() },
					{ name: 'ParentFunctionIdFromSrh', value: $('#ParentFunctionIdFromSrh').val() },
					{ name: 'ParentFunctionIdToSrh', value: $('#ParentFunctionIdToSrh').val() },
					{ name: 'SeqSrh', value: $('#SeqSrh').val() },
					{ name: 'SeqFromSrh', value: $('#SeqFromSrh').val() },
					{ name: 'SeqToSrh', value: $('#SeqToSrh').val() }
                    ]
                });
                gFunction.loadData();
            });
			
            $.validator.addMethod(
	            "notnull",
	            function (value, element, regexp)
	            {
	                if (!value) return true;
	                return !$(element).hasClass("l-text-field-null");
	            },
	            "不能为空"
            );

            $.metadata.setType("attr", "validate");
            var v = $("#frmFunction").validate({
                errorPlacement: function (lable, element) {
                    if (element.hasClass("l-textarea")) {
                        element.addClass("l-textarea-invalid");
                    } else if (element.hasClass("l-text-field")) {
                        element.parent().addClass("l-text-invalid");
                    }
                    $(element).removeAttr("title").ligerHideTip();
                    $(element).attr("title", lable.html()).ligerTip();
                },
                success: function (lable) {
                    var element = $("#" + lable.attr("for"));
                    if (element.hasClass("l-textarea")) {
                        element.removeClass("l-textarea-invalid");
                    } else if (element.hasClass("l-text-field")) {
                        element.parent().removeClass("l-text-invalid");
                    }
                    $(element).removeAttr("title").ligerHideTip();
                },
                submitHandler: function () {
                    saveFunction();
                    return false;
                }
            });

			$.getJSON("@Url.Action("GetInitData","Function")", function(data){
				initData = data;
                /*
				$("#f_City_ProvinceId").ligerComboBox(
                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceId',data:data.Provinces });
                data.Provinces.unshift({ Id:'', Name:'所有' });
                $("#f_City_ProvinceIdSrh").ligerComboBox(
                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceIdSrh',data:data.Provinces });
				*/
	            $("#formsearch").ligerForm();
				$("#frmFunction").ligerForm();
            });


        });
		
        function addFunction(){
            action = "add";
			$("#f_Function_Id").val("");
			$("#f_Function_ModuleId").val("");
			$("#f_Function_Code").val("");
			$("#f_Function_Name").val("");
			$("#f_Function_Icon").val("");
			$("#f_Function_Url").val("");
			$("#f_Function_ParentFunctionId").val("");
			$("#f_Function_Seq").val("");
			$dialog = $.ligerDialog.open({ target: $("#dFunction"), width: 300, height: 150 });
        }
        function editFunction() {
            action = "edit";
            var row = gFunction.getSelectedRow();
            if (!row) { LG.tip('请选择行!'); return }
			$("#f_Function_Id").val(row.Id);
			$("#f_Function_ModuleId").val(row.ModuleId);
			$("#f_Function_Code").val(row.Code);
			$("#f_Function_Name").val(row.Name);
			$("#f_Function_Icon").val(row.Icon);
			$("#f_Function_Url").val(row.Url);
			$("#f_Function_ParentFunctionId").val(row.ParentFunctionId);
			$("#f_Function_Seq").val(row.Seq);
            $dialog = $.ligerDialog.open({ target: $("#dFunction"), width: 300, height: 150 });
        }
        function deleteFunction() {
            var row = gFunction.getSelectedRow();
            if (!row) { LG.tip('请选择行!'); return }

            $.ligerDialog.confirm("您确定要删除选中记录么？",function (r) { 
                if(r){
                    $.post("@Url.Action("Delete","Function")", { id: row.Id }
                        , function (result) {
                            if (result.Successful) {
                                gFunction.deleteSelectedRow();
                            } else {
                                $.ligerMessageBox.error('错误', result.Message);
                            }
                        }
                    );
                }
            });
        }
        function saveFunction(){
            if(action=="add"){
                $.post("@Url.Action("Add","Function")", $("#frmFunction").serialize(),
                    function (result) {
                        if (result.Successful) {
                            gFunction.addRow(result.Data);
                            $dialog.hidden();
                            LG.tip("操作成功！");
                        }else{
                            LG.showError(result.Message);
                        }
                    }
                );
            }else{
                $.post("@Url.Action("Update","Function")", $("#frmFunction").serialize(),
                    function (result) {
                        if (result.Successful) {
                            var row = gFunction.getSelected();
                            if (!row) { alert('请选择行'); return; }
                            gFunction.updateRow(row,result.Data);
                            $dialog.hidden();
                            LG.tip("操作成功！");
                        }else{
                            LG.showError(result.Message);
                        }
                    }
                );
            }
        }
    </script>
</head>
<body style="padding:10px;height:100%; text-align:center;">
  <div id="mainsearch" style=" width:98%">
    <div class="searchtitle">
        <span>搜索</span><img src="@Url.Content("~/Content/lib/icons/32X32/searchtool.gif")" alt="" />
        <div class="togglebtn"></div> 
    </div>
    <div class="navline" style="margin-bottom:4px; margin-top:4px;"></div>
    <div class="searchbox">
        <form id="formsearch" class="l-form" action="">
        <table cellpadding="0" cellspacing="0" class="l-table-edit" >
			<tr>
<td style='text-align:right;' class='l-table-edit-td'>Id</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdSrh' type='text' id='IdSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>IdFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdFromSrh' type='text' id='IdFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>IdTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdToSrh' type='text' id='IdToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>ModuleId</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ModuleIdSrh' type='text' id='ModuleIdSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ModuleIdFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ModuleIdFromSrh' type='text' id='ModuleIdFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ModuleIdTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ModuleIdToSrh' type='text' id='ModuleIdToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Code</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='CodeSrh' type='text' id='CodeSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Name</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='NameSrh' type='text' id='NameSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Icon</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IconSrh' type='text' id='IconSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Url</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='UrlSrh' type='text' id='UrlSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>ParentFunctionId</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ParentFunctionIdSrh' type='text' id='ParentFunctionIdSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ParentFunctionIdFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ParentFunctionIdFromSrh' type='text' id='ParentFunctionIdFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ParentFunctionIdTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ParentFunctionIdToSrh' type='text' id='ParentFunctionIdToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Seq</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='SeqSrh' type='text' id='SeqSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>SeqFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='SeqFromSrh' type='text' id='SeqFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>SeqTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='SeqToSrh' type='text' id='SeqToSrh' ltype='text' /></td>
</tr>

            <tr>
                <td style="text-align:center;" class="l-table-edit-td" colspan="3"><input type="button" value="查询" id="btnSearch"  /></td>
            </tr>
        </table>
        
        </form>
    </div>
  </div>
  <div id="grdFunction"></div> 
  
   <div id="dFunction" style="display: none;">
        <form action="" method="post" id="frmFunction">
			<input type="hidden" id="f_Function_Id" name="Id" value="" />
			<table cellpadding="0" cellspacing="0" class="l-table-edit" >
	            
				<tr>
<td class='l-table-edit-td' style='text-align:right;'>ModuleId</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='ModuleId' type='text' id='f_Function_ModuleId' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Code</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Code' type='text' id='f_Function_Code' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Name</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Name' type='text' id='f_Function_Name' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Icon</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Icon' type='text' id='f_Function_Icon' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Url</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Url' type='text' id='f_Function_Url' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>ParentFunctionId</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='ParentFunctionId' type='text' id='f_Function_ParentFunctionId' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Seq</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Seq' type='text' id='f_Function_Seq' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

            <tr>
                <td colspan="3" style="text-align:center;">
                    <input type="submit" id="btnProvinceSave" value="保存" class="l-button l-button-submit" />
                    <input type="button" id="btnProvinceCancel" value="取消" onclick='$dialog.hidden();' class="l-button l-button-reset" />
                </td>
            </tr>
			</table>
		</form>
	</div>
</body>
</html>
