@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Aqua/css/ligerui-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/Gray/css/all.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Content/lib/ligerUI/skins/ligerui-icons.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Content/lib/css/common.css")" rel="stylesheet" type="text/css" />  
    <script src="@Url.Content("~/Content/lib/jquery/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/ligerUI/js/ligerui.all.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.validate.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Content/lib/jquery-validation/jquery.metadata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery-validation/messages_cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/js/LG.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/json2.js")" type="text/javascript"></script> 
	
    <style type="text/css">
        body{ font-size:12px;}
        .l-table-edit {}
        .l-table-edit-td{ padding:4px;}
        .l-button-submit,.l-button-reset{width:80px; float:left; margin-left:10px; padding-bottom:2px;}
        .l-verify-tip{ left:230px; top:120px; z-index:9999;}
    </style>
    <script type="text/javascript">
        var gSchool;
        var action = "add";
        var $dialog;
		var initData;
		
        $(function () {
            gSchool = $("#grdSchool").ligerGrid({
                columns: [
                    { display: 'Id', name: 'Id', width: 100, align: 'left' },
					{ display: 'Name', name: 'Name', width: 100, align: 'left' },
					{ display: 'DistrictId', name: 'DistrictId', width: 100, align: 'left' },
					{ display: 'IsSold', name: 'IsSold', width: 100, align: 'left' },
					{ display: 'Type', name: 'Type', width: 100, align: 'left' },
					{ display: 'Levels', name: 'Levels', width: 100, align: 'left' },
					{ display: 'DevBy', name: 'DevBy', width: 100, align: 'left' },
					{ display: 'DevDate', name: 'DevDate', width: 100, align: 'left' },
					{ display: 'Important', name: 'Important', width: 100, align: 'left' },
					{ display: 'Equipments', name: 'Equipments', width: 100, align: 'left' },
					{ display: 'DaoJiShiPai', name: 'DaoJiShiPai', width: 100, align: 'left' },
					{ display: 'JiaoShiBiaoYu', name: 'JiaoShiBiaoYu', width: 100, align: 'left' },
					{ display: 'ShuShiBiaoYu', name: 'ShuShiBiaoYu', width: 100, align: 'left' },
					{ display: 'ShiTangBiaoYu', name: 'ShiTangBiaoYu', width: 100, align: 'left' },
					{ display: 'LouTiBiaoYu', name: 'LouTiBiaoYu', width: 100, align: 'left' },
					{ display: 'BuTiao', name: 'BuTiao', width: 100, align: 'left' },
					{ display: 'Address', name: 'Address', width: 100, align: 'left' },
					{ display: 'HighClassQty', name: 'HighClassQty', width: 100, align: 'left' },
					{ display: 'HighStudentQty', name: 'HighStudentQty', width: 100, align: 'left' },
					{ display: 'LowClassQty', name: 'LowClassQty', width: 100, align: 'left' },
					{ display: 'LowStudentQty', name: 'LowStudentQty', width: 100, align: 'left' },
					{ display: 'Remark', name: 'Remark', width: 100, align: 'left' },
					{ display: 'OldOaHuWaiId', name: 'OldOaHuWaiId', width: 100, align: 'left' }
                  ],
                pageSize: 20, toolbar: {},
                url: '@Url.Action("GetData","School")', 
                sortName: 'Name',
                width: '98%', height: '100%', checkbox: false,
                usePager:true,
                toolbar: { items: [
                { text: '增加', icon: 'add', click: addSchool },
                { line: true },
                { text: '修改', icon: 'modify', click: editSchool },
                { line: true },
                { text: '删除', icon: 'delete', click: deleteSchool }
                ]
                }
            });
            $("#btnSearch").click(function () {
                gSchool.set({ 
                    parms : [
                    { name: 'IdSrh', value: $('#IdSrh').val() },
					{ name: 'IdFromSrh', value: $('#IdFromSrh').val() },
					{ name: 'IdToSrh', value: $('#IdToSrh').val() },
					{ name: 'NameSrh', value: $('#NameSrh').val() },
					{ name: 'DistrictIdSrh', value: $('#DistrictIdSrh').val() },
					{ name: 'DistrictIdFromSrh', value: $('#DistrictIdFromSrh').val() },
					{ name: 'DistrictIdToSrh', value: $('#DistrictIdToSrh').val() },
					{ name: 'IsSoldSrh', value: $('#IsSoldSrh').val() },
					{ name: 'TypeSrh', value: $('#TypeSrh').val() },
					{ name: 'LevelsSrh', value: $('#LevelsSrh').val() },
					{ name: 'DevBySrh', value: $('#DevBySrh').val() },
					{ name: 'DevDateSrh', value: $('#DevDateSrh').val() },
					{ name: 'ImportantSrh', value: $('#ImportantSrh').val() },
					{ name: 'EquipmentsSrh', value: $('#EquipmentsSrh').val() },
					{ name: 'DaoJiShiPaiSrh', value: $('#DaoJiShiPaiSrh').val() },
					{ name: 'DaoJiShiPaiFromSrh', value: $('#DaoJiShiPaiFromSrh').val() },
					{ name: 'DaoJiShiPaiToSrh', value: $('#DaoJiShiPaiToSrh').val() },
					{ name: 'JiaoShiBiaoYuSrh', value: $('#JiaoShiBiaoYuSrh').val() },
					{ name: 'JiaoShiBiaoYuFromSrh', value: $('#JiaoShiBiaoYuFromSrh').val() },
					{ name: 'JiaoShiBiaoYuToSrh', value: $('#JiaoShiBiaoYuToSrh').val() },
					{ name: 'ShuShiBiaoYuSrh', value: $('#ShuShiBiaoYuSrh').val() },
					{ name: 'ShuShiBiaoYuFromSrh', value: $('#ShuShiBiaoYuFromSrh').val() },
					{ name: 'ShuShiBiaoYuToSrh', value: $('#ShuShiBiaoYuToSrh').val() },
					{ name: 'ShiTangBiaoYuSrh', value: $('#ShiTangBiaoYuSrh').val() },
					{ name: 'ShiTangBiaoYuFromSrh', value: $('#ShiTangBiaoYuFromSrh').val() },
					{ name: 'ShiTangBiaoYuToSrh', value: $('#ShiTangBiaoYuToSrh').val() },
					{ name: 'LouTiBiaoYuSrh', value: $('#LouTiBiaoYuSrh').val() },
					{ name: 'LouTiBiaoYuFromSrh', value: $('#LouTiBiaoYuFromSrh').val() },
					{ name: 'LouTiBiaoYuToSrh', value: $('#LouTiBiaoYuToSrh').val() },
					{ name: 'BuTiaoSrh', value: $('#BuTiaoSrh').val() },
					{ name: 'BuTiaoFromSrh', value: $('#BuTiaoFromSrh').val() },
					{ name: 'BuTiaoToSrh', value: $('#BuTiaoToSrh').val() },
					{ name: 'AddressSrh', value: $('#AddressSrh').val() },
					{ name: 'HighClassQtySrh', value: $('#HighClassQtySrh').val() },
					{ name: 'HighClassQtyFromSrh', value: $('#HighClassQtyFromSrh').val() },
					{ name: 'HighClassQtyToSrh', value: $('#HighClassQtyToSrh').val() },
					{ name: 'HighStudentQtySrh', value: $('#HighStudentQtySrh').val() },
					{ name: 'HighStudentQtyFromSrh', value: $('#HighStudentQtyFromSrh').val() },
					{ name: 'HighStudentQtyToSrh', value: $('#HighStudentQtyToSrh').val() },
					{ name: 'LowClassQtySrh', value: $('#LowClassQtySrh').val() },
					{ name: 'LowClassQtyFromSrh', value: $('#LowClassQtyFromSrh').val() },
					{ name: 'LowClassQtyToSrh', value: $('#LowClassQtyToSrh').val() },
					{ name: 'LowStudentQtySrh', value: $('#LowStudentQtySrh').val() },
					{ name: 'LowStudentQtyFromSrh', value: $('#LowStudentQtyFromSrh').val() },
					{ name: 'LowStudentQtyToSrh', value: $('#LowStudentQtyToSrh').val() },
					{ name: 'RemarkSrh', value: $('#RemarkSrh').val() },
					{ name: 'OldOaHuWaiIdSrh', value: $('#OldOaHuWaiIdSrh').val() }
                    ]
                });
                gSchool.loadData();
            });
			
            $.validator.addMethod(
	            "notnull",
	            function (value, element, regexp)
	            {
	                if (!value) return true;
	                return !$(element).hasClass("l-text-field-null");
	            },
	            "不能为空"
            );

            $.metadata.setType("attr", "validate");
            var v = $("#frmSchool").validate({
                errorPlacement: function (lable, element) {
                    if (element.hasClass("l-textarea")) {
                        element.addClass("l-textarea-invalid");
                    } else if (element.hasClass("l-text-field")) {
                        element.parent().addClass("l-text-invalid");
                    }
                    $(element).removeAttr("title").ligerHideTip();
                    $(element).attr("title", lable.html()).ligerTip();
                },
                success: function (lable) {
                    var element = $("#" + lable.attr("for"));
                    if (element.hasClass("l-textarea")) {
                        element.removeClass("l-textarea-invalid");
                    } else if (element.hasClass("l-text-field")) {
                        element.parent().removeClass("l-text-invalid");
                    }
                    $(element).removeAttr("title").ligerHideTip();
                },
                submitHandler: function () {
                    saveSchool();
                    return false;
                }
            });

			$.getJSON("@Url.Action("GetInitData","School")", function(data){
				initData = data;
                /*
				$("#f_City_ProvinceId").ligerComboBox(
                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceId',data:data.Provinces });
                data.Provinces.unshift({ Id:'', Name:'所有' });
                $("#f_City_ProvinceIdSrh").ligerComboBox(
                    {textField:'Name',valueField:'Id',valueFieldID:'ProvinceIdSrh',data:data.Provinces });
				*/
	            $("#formsearch").ligerForm();
				$("#frmSchool").ligerForm();
            });


        });
		
        function addSchool(){
            action = "add";
			$("#f_School_Id").val("");
			$("#f_School_Name").val("");
			$("#f_School_DistrictId").val("");
			$("#f_School_IsSold").val("");
			$("#f_School_Type").val("");
			$("#f_School_Levels").val("");
			$("#f_School_DevBy").val("");
			$("#f_School_DevDate").val("");
			$("#f_School_Important").val("");
			$("#f_School_Equipments").val("");
			$("#f_School_DaoJiShiPai").val("");
			$("#f_School_JiaoShiBiaoYu").val("");
			$("#f_School_ShuShiBiaoYu").val("");
			$("#f_School_ShiTangBiaoYu").val("");
			$("#f_School_LouTiBiaoYu").val("");
			$("#f_School_BuTiao").val("");
			$("#f_School_Address").val("");
			$("#f_School_HighClassQty").val("");
			$("#f_School_HighStudentQty").val("");
			$("#f_School_LowClassQty").val("");
			$("#f_School_LowStudentQty").val("");
			$("#f_School_Remark").val("");
			$("#f_School_OldOaHuWaiId").val("");
			$dialog = $.ligerDialog.open({ target: $("#dSchool"), width: 300, height: 150 });
        }
        function editSchool() {
            action = "edit";
            var row = gSchool.getSelectedRow();
            if (!row) { LG.tip('请选择行!'); return }
			$("#f_School_Id").val(row.Id);
			$("#f_School_Name").val(row.Name);
			$("#f_School_DistrictId").val(row.DistrictId);
			$("#f_School_IsSold").val(row.IsSold);
			$("#f_School_Type").val(row.Type);
			$("#f_School_Levels").val(row.Levels);
			$("#f_School_DevBy").val(row.DevBy);
			$("#f_School_DevDate").val(row.DevDate);
			$("#f_School_Important").val(row.Important);
			$("#f_School_Equipments").val(row.Equipments);
			$("#f_School_DaoJiShiPai").val(row.DaoJiShiPai);
			$("#f_School_JiaoShiBiaoYu").val(row.JiaoShiBiaoYu);
			$("#f_School_ShuShiBiaoYu").val(row.ShuShiBiaoYu);
			$("#f_School_ShiTangBiaoYu").val(row.ShiTangBiaoYu);
			$("#f_School_LouTiBiaoYu").val(row.LouTiBiaoYu);
			$("#f_School_BuTiao").val(row.BuTiao);
			$("#f_School_Address").val(row.Address);
			$("#f_School_HighClassQty").val(row.HighClassQty);
			$("#f_School_HighStudentQty").val(row.HighStudentQty);
			$("#f_School_LowClassQty").val(row.LowClassQty);
			$("#f_School_LowStudentQty").val(row.LowStudentQty);
			$("#f_School_Remark").val(row.Remark);
			$("#f_School_OldOaHuWaiId").val(row.OldOaHuWaiId);
            $dialog = $.ligerDialog.open({ target: $("#dSchool"), width: 300, height: 150 });
        }
        function deleteSchool() {
            var row = gSchool.getSelectedRow();
            if (!row) { LG.tip('请选择行!'); return }

            $.ligerDialog.confirm("您确定要删除选中记录么？",function (r) { 
                if(r){
                    $.post("@Url.Action("Delete","School")", { id: row.Id }
                        , function (result) {
                            if (result.Successful) {
                                gSchool.deleteSelectedRow();
                            } else {
                                $.ligerMessageBox.error('错误', result.Message);
                            }
                        }
                    );
                }
            });
        }
        function saveSchool(){
            if(action=="add"){
                $.post("@Url.Action("Add","School")", $("#frmSchool").serialize(),
                    function (result) {
                        if (result.Successful) {
                            gSchool.addRow(result.Data);
                            $dialog.hidden();
                            LG.tip("操作成功！");
                        }else{
                            LG.showError(result.Message);
                        }
                    }
                );
            }else{
                $.post("@Url.Action("Update","School")", $("#frmSchool").serialize(),
                    function (result) {
                        if (result.Successful) {
                            var row = gSchool.getSelected();
                            if (!row) { alert('请选择行'); return; }
                            gSchool.updateRow(row,result.Data);
                            $dialog.hidden();
                            LG.tip("操作成功！");
                        }else{
                            LG.showError(result.Message);
                        }
                    }
                );
            }
        }
    </script>
</head>
<body style="padding:10px;height:100%; text-align:center;">
  <div id="mainsearch" style=" width:98%">
    <div class="searchtitle">
        <span>搜索</span><img src="@Url.Content("~/Content/lib/icons/32X32/searchtool.gif")" alt="" />
        <div class="togglebtn"></div> 
    </div>
    <div class="navline" style="margin-bottom:4px; margin-top:4px;"></div>
    <div class="searchbox">
        <form id="formsearch" class="l-form" action="">
        <table cellpadding="0" cellspacing="0" class="l-table-edit" >
			<tr>
<td style='text-align:right;' class='l-table-edit-td'>Id</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdSrh' type='text' id='IdSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>IdFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdFromSrh' type='text' id='IdFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>IdTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IdToSrh' type='text' id='IdToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Name</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='NameSrh' type='text' id='NameSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>DistrictId</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DistrictIdSrh' type='text' id='DistrictIdSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>DistrictIdFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DistrictIdFromSrh' type='text' id='DistrictIdFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>DistrictIdTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DistrictIdToSrh' type='text' id='DistrictIdToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>IsSold</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='IsSoldSrh' type='text' id='IsSoldSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Type</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='TypeSrh' type='text' id='TypeSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Levels</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LevelsSrh' type='text' id='LevelsSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>DevBy</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DevBySrh' type='text' id='DevBySrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>DevDate</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DevDateSrh' type='text' id='DevDateSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Important</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ImportantSrh' type='text' id='ImportantSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Equipments</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='EquipmentsSrh' type='text' id='EquipmentsSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>DaoJiShiPai</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DaoJiShiPaiSrh' type='text' id='DaoJiShiPaiSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>DaoJiShiPaiFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DaoJiShiPaiFromSrh' type='text' id='DaoJiShiPaiFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>DaoJiShiPaiTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='DaoJiShiPaiToSrh' type='text' id='DaoJiShiPaiToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>JiaoShiBiaoYu</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='JiaoShiBiaoYuSrh' type='text' id='JiaoShiBiaoYuSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>JiaoShiBiaoYuFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='JiaoShiBiaoYuFromSrh' type='text' id='JiaoShiBiaoYuFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>JiaoShiBiaoYuTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='JiaoShiBiaoYuToSrh' type='text' id='JiaoShiBiaoYuToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>ShuShiBiaoYu</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ShuShiBiaoYuSrh' type='text' id='ShuShiBiaoYuSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ShuShiBiaoYuFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ShuShiBiaoYuFromSrh' type='text' id='ShuShiBiaoYuFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ShuShiBiaoYuTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ShuShiBiaoYuToSrh' type='text' id='ShuShiBiaoYuToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>ShiTangBiaoYu</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ShiTangBiaoYuSrh' type='text' id='ShiTangBiaoYuSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ShiTangBiaoYuFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ShiTangBiaoYuFromSrh' type='text' id='ShiTangBiaoYuFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>ShiTangBiaoYuTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='ShiTangBiaoYuToSrh' type='text' id='ShiTangBiaoYuToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>LouTiBiaoYu</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LouTiBiaoYuSrh' type='text' id='LouTiBiaoYuSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>LouTiBiaoYuFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LouTiBiaoYuFromSrh' type='text' id='LouTiBiaoYuFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>LouTiBiaoYuTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LouTiBiaoYuToSrh' type='text' id='LouTiBiaoYuToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>BuTiao</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='BuTiaoSrh' type='text' id='BuTiaoSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>BuTiaoFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='BuTiaoFromSrh' type='text' id='BuTiaoFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>BuTiaoTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='BuTiaoToSrh' type='text' id='BuTiaoToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Address</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='AddressSrh' type='text' id='AddressSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>HighClassQty</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='HighClassQtySrh' type='text' id='HighClassQtySrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>HighClassQtyFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='HighClassQtyFromSrh' type='text' id='HighClassQtyFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>HighClassQtyTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='HighClassQtyToSrh' type='text' id='HighClassQtyToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>HighStudentQty</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='HighStudentQtySrh' type='text' id='HighStudentQtySrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>HighStudentQtyFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='HighStudentQtyFromSrh' type='text' id='HighStudentQtyFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>HighStudentQtyTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='HighStudentQtyToSrh' type='text' id='HighStudentQtyToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>LowClassQty</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LowClassQtySrh' type='text' id='LowClassQtySrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>LowClassQtyFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LowClassQtyFromSrh' type='text' id='LowClassQtyFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>LowClassQtyTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LowClassQtyToSrh' type='text' id='LowClassQtyToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>LowStudentQty</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LowStudentQtySrh' type='text' id='LowStudentQtySrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>LowStudentQtyFrom</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LowStudentQtyFromSrh' type='text' id='LowStudentQtyFromSrh' ltype='text' /></td>
</tr>
<tr>
<td style='text-align:right;' class='l-table-edit-td'>LowStudentQtyTo</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='LowStudentQtyToSrh' type='text' id='LowStudentQtyToSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>Remark</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='RemarkSrh' type='text' id='RemarkSrh' ltype='text' /></td>
</tr>

				<tr>
<td style='text-align:right;' class='l-table-edit-td'>OldOaHuWaiId</td>
<td style='text-align:left;' class='l-table-edit-td'><input name='OldOaHuWaiIdSrh' type='text' id='OldOaHuWaiIdSrh' ltype='text' /></td>
</tr>

            <tr>
                <td style="text-align:center;" class="l-table-edit-td" colspan="3"><input type="button" value="查询" id="btnSearch"  /></td>
            </tr>
        </table>
        
        </form>
    </div>
  </div>
  <div id="grdSchool"></div> 
  
   <div id="dSchool" style="display: none;">
        <form action="" method="post" id="frmSchool">
			<input type="hidden" id="f_School_Id" name="Id" value="" />
			<table cellpadding="0" cellspacing="0" class="l-table-edit" >
	            
				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Name</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Name' type='text' id='f_School_Name' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>DistrictId</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='DistrictId' type='text' id='f_School_DistrictId' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>IsSold</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='IsSold' type='text' id='f_School_IsSold' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Type</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Type' type='text' id='f_School_Type' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Levels</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Levels' type='text' id='f_School_Levels' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>DevBy</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='DevBy' type='text' id='f_School_DevBy' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>DevDate</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='DevDate' type='text' id='f_School_DevDate' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Important</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Important' type='text' id='f_School_Important' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Equipments</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Equipments' type='text' id='f_School_Equipments' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>DaoJiShiPai</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='DaoJiShiPai' type='text' id='f_School_DaoJiShiPai' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>JiaoShiBiaoYu</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='JiaoShiBiaoYu' type='text' id='f_School_JiaoShiBiaoYu' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>ShuShiBiaoYu</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='ShuShiBiaoYu' type='text' id='f_School_ShuShiBiaoYu' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>ShiTangBiaoYu</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='ShiTangBiaoYu' type='text' id='f_School_ShiTangBiaoYu' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>LouTiBiaoYu</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='LouTiBiaoYu' type='text' id='f_School_LouTiBiaoYu' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>BuTiao</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='BuTiao' type='text' id='f_School_BuTiao' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Address</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Address' type='text' id='f_School_Address' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>HighClassQty</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='HighClassQty' type='text' id='f_School_HighClassQty' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>HighStudentQty</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='HighStudentQty' type='text' id='f_School_HighStudentQty' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>LowClassQty</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='LowClassQty' type='text' id='f_School_LowClassQty' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>LowStudentQty</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='LowStudentQty' type='text' id='f_School_LowStudentQty' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>Remark</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='Remark' type='text' id='f_School_Remark' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

				<tr>
<td class='l-table-edit-td' style='text-align:right;'>OldOaHuWaiId</td>
<td class='l-table-edit-td' style='text-align:left;width:160px'>
<input name='OldOaHuWaiId' type='text' id='f_School_OldOaHuWaiId' ltype='text' />
</td>
<td style='text-align:left;'></td>
</tr>

            <tr>
                <td colspan="3" style="text-align:center;">
                    <input type="submit" id="btnProvinceSave" value="保存" class="l-button l-button-submit" />
                    <input type="button" id="btnProvinceCancel" value="取消" onclick='$dialog.hidden();' class="l-button l-button-reset" />
                </td>
            </tr>
			</table>
		</form>
	</div>
</body>
</html>
